<a href="https://colab.research.google.com/github/sabaripkumar/digipen/blob/main/CET3052_Spark_Simple_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Analysis

This code takes a Sales dataset, analyze it according to countries. The code tries to demo how to use PySpark.

In [ ]:
!pip install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

## DataFrame and Frequency Counter

In [ ]:
!wget https://raw.githubusercontent.com/annesjyu/dataengr2023/main/Sales.csv

--2024-08-07 13:24:55--  https://raw.githubusercontent.com/annesjyu/dataengr2023/main/Sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65773 (64K) [text/plain]
Saving to: ‘Sales.csv.1’

Sales.csv.1         100%[===================>]  64.23K  --.-KB/s    in 0.01s

2024-08-07 13:24:55 (4.35 MB/s) - ‘Sales.csv.1’ saved [65773/65773]

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("Sales Analysis").getOrCreate()

# Set the truncate option to False to prevent column truncation
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark.conf.set("spark.sql.repl.eagerEval.truncate", 0)

In [ ]:
# Read csv data into a DataFrame
df = spark.read.csv("Sales.csv", header=True, inferSchema=True)

In [ ]:
df.show()

+----------------+--------+-----+------------+---------------+------------+----------------+--------------+----------------+---------------+-----------+----------+
|Transaction_date| Product|Price|Payment_Type|           Name|        City|           State|       Country| Account_Created|     Last_Login|   Latitude| Longitude|
+----------------+--------+-----+------------+---------------+------------+----------------+--------------+----------------+---------------+-----------+----------+
|   1/2/2009 6:17|Product1| 1200|  Mastercard|       carolina|    Basildon|         England|United Kingdom|   1/2/2009 6:00|  1/2/2009 6:08|       51.5|-1.1166667|
|  1/3/2009 14:44|Product1| 1200|        Visa|          Gouya|      Echuca|        Victoria|     Australia| 9/25/2005 21:13| 1/3/2009 14:22|-36.1333333|    144.75|
|  1/4/2009 13:17|Product1| 1200|  Mastercard|Renee Elisabeth|    Tel Aviv|        Tel Aviv|        Israel|  1/4/2009 13:03| 1/4/2009 22:10| 32.0666667|34.7666667|
|  1/4/2009 14:11|Product1| 1200|        Visa|          Aidan|      Chatou|   Ile-de-France|        France|   6/3/2008 4:22|  1/5/2009 1:17| 48.8833333|      2.15|
|   1/5/2009 5:39|Product1| 1200|        Amex|          Heidi|   Eindhoven|   Noord-Brabant|   Netherlands|   1/5/2009 4:55|  1/5/2009 8:15|      51.45| 5.4666667|
|   1/4/2009 1:05|Product1| 1200|      Diners|         Leanne| Julianstown|           Meath|       Ireland|   1/4/2009 0:00| 1/5/2009 13:36| 53.6772222|-6.3191667|
|  1/5/2009 11:37|Product1| 1200|        Visa|          Janet|      Ottawa|         Ontario|        Canada|   1/5/2009 9:35| 1/5/2009 19:24| 45.4166667|     -75.7|
|   1/6/2009 5:02|Product1| 1200|      Diners|        barbara|   Hyderabad|  Andhra Pradesh|         India|   1/6/2009 2:41|  1/6/2009 7:52| 17.3833333|78.4666667|
|   1/6/2009 7:45|Product2| 3600|        Visa|         Sabine|      London|         England|United Kingdom|   1/6/2009 7:00|  1/6/2009 9:17|   51.52721|   0.14559|
|  1/6/2009 12:56|Product1| 1200|        Visa|         Jeremy|  Manchester|         England|United Kingdom|  1/6/2009 10:58| 1/6/2009 13:31|       53.5|-2.2166667|
|  1/1/2009 11:05|Product1| 1200|      Diners|          Janis|   Ballynora|            Cork|       Ireland|12/10/2007 12:37|  1/7/2009 1:52| 51.8630556|     -8.58|
|   1/5/2009 4:10|Product1| 1200|  Mastercard|         Nicola|  Roodepoort|         Gauteng|  South Africa|   1/5/2009 2:33|  1/7/2009 5:13|-26.1666667|27.8666667|
|   1/2/2009 1:11|Product1| 1200|  Mastercard|           Lena|      Kuopio|Ita-Suomen Laani|       Finland| 12/31/2008 2:48| 1/7/2009 10:20|       62.9|27.6833333|
|   1/2/2009 2:57|Product1| 1200|        Visa|          chris|      London|         England|United Kingdom|   1/3/2008 7:23| 1/7/2009 13:14|   51.52721|   0.14559|
|   1/8/2009 1:59|Product1| 1200|  Mastercard|         SYLVIA|     Vesenaz|          Geneve|   Switzerland|11/28/2007 11:56|  1/8/2009 7:20| 46.2333333|       6.2|
|  1/5/2009 13:17|Product1| 1200|  Mastercard|      Stephanie|Badhoevedorp|   Noord-Holland|   Netherlands|  1/5/2009 12:45| 1/8/2009 11:45| 52.3333333| 4.7833333|
|  1/5/2009 20:00|Product2| 3600|        Visa|          James|  Burpengary|      Queensland|     Australia|12/10/2008 19:53| 1/8/2009 17:58|-27.1666667|    152.95|
|  1/3/2009 13:24|Product1| 1200|        Visa|   Mehmet Fatih|   Helsingor|   Frederiksborg|       Denmark|  1/3/2009 12:47| 1/9/2009 11:14| 56.0333333|12.6166667|
|  1/9/2009 15:58|Product1| 1200|  Mastercard|           Sari|     Newbury|         England|United Kingdom|  1/9/2009 14:53|1/10/2009 13:16|       51.4|-1.3166667|
|  1/3/2009 13:11|Product1| 1200|  Mastercard|         simone|   Kobenhavn|       Kobenhavn|       Denmark| 10/31/2008 0:31|1/10/2009 13:24| 55.6666667|12.5833333|
+----------------+--------+-----+------------+---------------+------------+----------------+--------------+----------------+---------------+-----------+----------+
only showing top 20 rows

In [ ]:
df.summary().show()

+-------+----------------+--------+------------------+------------+-----+------+------+--------------+---------------+---------------+------------------+-----------------+
|summary|Transaction_date| Product|             Price|Payment_Type| Name|  City| State|       Country|Account_Created|     Last_Login|          Latitude|        Longitude|
+-------+----------------+--------+------------------+------------+-----+------+------+--------------+---------------+---------------+------------------+-----------------+
|  count|             535|     535|               535|         535|  535|   535|   534|           535|            535|            535|               535|              535|
|   mean|            NULL|    NULL|1645.7943925233644|        NULL| NULL|  NULL|  NULL|          NULL|           NULL|           NULL| 40.31821572149535|3.421527447476634|
| stddev|            NULL|    NULL| 1093.107481054373|        NULL| NULL|  NULL|  NULL|          NULL|           NULL|           NULL|25.992945434334157|61.66761893173215|
|    min|  1/1/2009 10:06|Product1|              1200|        Amex|Aaron|Aardal|      |     Argentina|  1/1/2005 6:03|1/10/2009 13:16|           -41.465|     -134.7166667|
|    25%|            NULL|    NULL|              1200|        NULL| NULL|  NULL|  NULL|          NULL|           NULL|           NULL|        43.9333333|       -6.1447222|
|    50%|            NULL|    NULL|              1200|        NULL| NULL|  NULL|  NULL|          NULL|           NULL|           NULL|        50.0833333|              4.3|
|    75%|            NULL|    NULL|              1200|        NULL| NULL|  NULL|  NULL|          NULL|           NULL|           NULL|        52.3333333|            11.65|
|    max|   1/9/2009 8:35|Product3|              7500|        Visa|sunny|Zurich|Zurich|United Kingdom|  9/9/2008 9:08|  3/1/2009 7:28|             63.85|      174.7666667|
+-------+----------------+--------+------------------+------------+-----+------+------+--------------+---------------+---------------+------------------+-----------------+

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Count the frequency of each country
country_frequency = df.groupBy("Country").count()

# Show the result
country_frequency.show(n=10)

+-----------+-----+
|    Country|count|
+-----------+-----+
|     Russia|    1|
|     Sweden|   13|
|     Jersey|    1|
|Philippines|    2|
|   Malaysia|    1|
|     Turkey|    6|
|    Germany|   25|
|     France|   27|
|     Greece|    1|
|  Argentina|    1|
+-----------+-----+
only showing top 10 rows

# Schema and DataFrame

In [ ]:
from pyspark.sql import SparkSession

# Define schema for our data using DDL
schema = "Id INT, First STRING, Last STRING, Url STRING, Published STRING, Hits INT, Campaigns ARRAY<STRING>"

# Create our static data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter","LinkedIn"]],
        [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter","LinkedIn"]],
        [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web","twitter", "FB", "LinkedIn"]],
        [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
        [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web","twitter", "FB", "LinkedIn"]],
        [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]]

# Create a SparkSession
spark = (SparkSession.builder.appName("schema_example").getOrCreate())

# Create a DataFrame using the schema defined above
blogs_df = spark.createDataFrame(data, schema)

# Show the DataFrame; it should reflect our table above
blogs_df.show()

# Print the schema used by Spark to process the DataFrame
print(blogs_df.printSchema())

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

None

In [ ]:
print(type(blogs_df))

<class 'pyspark.sql.dataframe.DataFrame'>

## Rows

In [ ]:
from pyspark.sql import Row

In [ ]:
row1 = Row("Matei Zaharia", "CA")
row2 = Row("Reynold Xin", "CA")
rows = [row1, row2]

print(type(row1))

authors_df = spark.createDataFrame(rows, ["Authors", "State"])

print(type(authors_df))

print(authors_df.show())

<class 'pyspark.sql.types.Row'>
<class 'pyspark.sql.dataframe.DataFrame'>
+-------------+-----+
|      Authors|State|
+-------------+-----+
|Matei Zaharia|   CA|
|  Reynold Xin|   CA|
+-------------+-----+

None